
.tag {
  background: #ccc;
  border-radius: 3px 0 0 3px;
  color: #777;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 15px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}


.tag::after {
  background: #fff;
  border-bottom: 11px solid transparent;
  border-left: 10px solid #ccc;
  border-top: 11px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #777;
  color: white;
}

.tag:hover::after {
  border-left-color: #777;
}