.blogEntry {
  padding: 1.5rem 0;
}

.blogTitle {
  composes: header from '../../sharedStyles/styles.module.css';
  text-decoration: none;
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.blogSummary {
  margin: 0;
}

.blogFoot {
  composes: flexRow from '../../sharedStyles/styles.module.css';
  justify-content: space-between;
  font-size: 0.8rem;
}
