.blogEntry {
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: #f6f2f8 solid 1px;
}

.blogTitle {
  composes: header from '../../sharedStyles/styles.module.css';
  text-decoration: none;
  margin: 0 0 1rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.blogSummary {
  margin: 0 0 0.5rem 0;
}

.blogFoot {
  font-size: 0.8rem;
}
