.linkList {
  display: flex;
  flex-direction: column;
  composes: linkList from '../../sharedStyles/styles.module.css';
  margin-bottom:  36px;
}

.listItem {
  min-height: 38px;
  display: flex;
  align-items: center;
}

.link {
  height: 100%;
  width: 100%;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  composes: link from '../../sharedStyles/styles.module.css';
}

.header {
  color: hsl(0, 0%, 70%);
  font-weight: 600;
  composes: listItem;
}
