.linkList {
  display: flex;
  flex-direction: column;
  composes: linkList from '../../sharedStyles/styles.module.css';
}

.listItem {
  min-height: 48px;
  display: flex;
  align-items: center;
}

.link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  composes: link from '../../sharedStyles/styles.module.css';
}

.findMe {
  margin-bottom: 8px;
}
