.icon {
  position: fixed;
  right: 5%;
  bottom: 4%;
  cursor: pointer;
  font-size: 36px;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
}

.visibleIcon {
  opacity: 0.75;
}