.icon {
  position: relative;
  justify-content: center;
  width: 26px;
}

.icon span, .icon span:before, .icon span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 26px;
  background: #5F5F5F;
  top: 0;
  content: '';
  position: absolute;
  display: block;
  transition: all 300ms ease-in-out;
}

.icon span:before {
  top: -8px;
}
.icon span:after {
  top: 8px;
}

.icon.active span {
  background-color: transparent;
}

.icon.active span:before, .icon.active span:after {
  top: 0;
}

.icon.active span:before {
  transform: rotate(45deg);
}

.icon.active span:after {
  transform: rotate(-45deg);
}