.navBar {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom: 1px solid #f6f2f8;
  background-color: white;
}

.navBarContent {
  margin: 0 auto;
  height: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.navList {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.navElement {
  display: flex;
  flex-direction: column;
}

.link {
  height: 100%;
  composes: link from '../../sharedStyles/styles.module.css';
  padding: 0 0.7rem;
}

.activeNavigation {
}

.navIcon {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  font-size: 2rem;
  text-align: center;
  padding: 0 8px;
}

.socialNav {
  composes: centerFlex from '../../sharedStyles/styles.module.css';
}

.displayNone {
  display: none;
}

.display {
  display: flex;
}
