.navBar {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom: 1px solid #f6f2f8;
  background-color: white;
}

.navBarContent {
  composes: page from '../../sharedStyles/styles.module.css';
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.bigNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .bigNav {
    display: none;
  }
}

.navList {
  display: flex;
}

.navElement {
  display: flex;
  flex-direction: column;
}

.link {
  height: 100%;
  composes: link from '../../sharedStyles/styles.module.css';
  padding: 0 0.7rem;
}

.activeNavigation {
  border-bottom: 4px hsl(180, 100%, 40%) solid;
}

.navIcon {
  composes: centerFlex from '../../sharedStyles/styles.module.css';
  position: relative;
  width: 26px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}

@media (min-width: 800px) {
  .navIcon {
    display: none;
  }
}

.socialNav {
  composes: centerFlex from '../../sharedStyles/styles.module.css';
}

.iconShow {
}
