.container {
  display: flex;
  flex-direction: row;
  padding: 5px 24px;
}

.flag {
  composes: link from '../../sharedStyles/styles.module.css';
  padding-left: 12px;
  font-size: 0.6rem;
  font-weight: bold;
}
