.mainContainer {
  overflow: auto;
}

.contentContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

.pageContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 48px;
}

.footerPadding {
  composes: footerPadding from '../../sharedStyles/styles.module.css';
  background: none;
  width: 100%
}
