.pageContent {
  composes: pageContent from '../../sharedStyles/styles.module.css';
}

.blogInfoContainer {
}

.flexRow {
  composes: flexRow from '../../sharedStyles/styles.module.css';
  justify-content: space-between;
}

.authorContainer {

}

.tagContainer {
  max-width: 300px;
}
