.footerElement {
  composes: footer from '../../sharedStyles/styles.module.css';
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: 0 -1px 10px 1px rgba(25,17,34,0.05);
  background-color: white;
}

.content {
  margin: 0 auto;
  padding: 1.8rem 0;
  max-width: 1200px;
  position: relative;
}

.copyright {
}

.link {
  composes: link from '../../sharedStyles/styles.module.css';
}

.attributions {
  margin-top: 1rem;
}

.contentfulLogo {
  max-width: 100px;
  width: 100%;
}

.localeInfo {
  position: absolute;
  top: 0;
  right: 0;
}

