.mainContainer {
  height: 100%;
  width: 100%;
}

.contentContainer {
  overflow: auto;
  position: relative;
  min-height: 100%;
}

.pageContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.footerPadding {
  composes: footerPadding from '../../sharedStyles/styles.module.css';
  background: none;
  width: 100%
}
