html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #5F5F5F;
  background-color: #F9F9F9;
}

html {
  overflow: auto;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}

.linkList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link:visited, .link:link {
  color: inherit;
}

.footer {
  max-height: 164px;
}

.footerPadding {
  height: 164px;
}

.pageContent {
  width: 100%;
  background: #FFFFFF;
  padding: 0 24px;
  margin-bottom: 12px;
  box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05);
}

.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header {
  color: #242424;
}
