html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #5F5F5F;
  background-color: #F7F7F7;
}

html {
  overflow: auto;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}

.linkList {
  list-style: none;
}

.link:visited, .link:link {
  color: inherit;
}

.footer {
  max-height: 150px;
}

.footerPadding {
}

.pageContent {
  width: 100%;
  background: #FFFFFF;
  padding: 0 24px;
  margin-bottom: calc(150px + 12px);
  box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05), 0 3px 14px rgba(25, 17, 34, 0.03);
}

.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header {
  display: block;
  color: #242424;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
